body {
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}

#gallery .hide {
    display: none;
}

#gallery {
  width: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: auto;
  line-height: 1em;
}
#gallery .item {
  color: var(--black);
}
#gallery #slideImg:not(.slick-initialized) {
  visibility: hidden;
  opacity: 0;
}
#gallery ul.slick-initialized {
  visibility: visible;
  opacity: 1;
}
#gallery img {
  width: 24vw;
  height: 24vw;
}
@media only screen and (max-width: 1024px) {
  #gallery img {
    height: 320px;
    width: 320px;
  }
}
#gallery div.itemImgArea {
  margin-bottom: 60px;
}
#gallery .item {
  margin: 0 !important;
}
#gallery .itemDetail {
  width: 100%;
  margin: 0 auto;
  padding: 0 10%;
}
#gallery *,
#gallery *:after,
#gallery *::before {
  box-sizing: border-box;
}
#gallery body,
#gallery div,
#gallery dl,
#gallery dt,
#gallery dd,
#gallery ul,
#gallery ol,
#gallery li,
#gallery h1,
#gallery h2,
#gallery h3,
#gallery h4,
#gallery h5,
#gallery h6,
#gallery pre,
#gallery code,
#gallery form,
#gallery fieldset,
#gallery legend,
#gallery input,
#gallery button,
#gallery textarea,
#gallery select,
#gallery p,
#gallery blockquote,
#gallery th,
#gallery td {
  margin: 0;
  padding: 0;
}
#gallery section {
  display: block;
}
#gallery div {
  display: block;
}
#gallery .itemLeft {
  width: 30%;
  float: left;
  padding: 0 0 0 5%;
}
#gallery .itemRight {
  width: 70%;
  float: right;
  padding: 0 5% 0 10%;
}
#gallery .item .itemImgArea {
  width: 100%;
}
#gallery .item .itemImgArea #slideImg {
  height: 450px;
  margin-bottom: 60px;
}
#gallery #slideImg img {
  height: 450px;
  width: 450px;
}
@media only screen and (max-width: 1024px) {
  #gallery .item {
    margin: 60px auto 0;
  }
  #gallery .item {
    width: 100%;
    float: none;
  }
  #gallery .itemDetail {
    width: 100%;
    margin: 0 0 15% 0;
    padding: 0 5%;
  }
  #gallery .item .itemImgArea {
    width: 100%;
  }
  #gallery .item .itemImgArea #slideImg img {
    height: 320px;
    width: 320px;
  }
  #gallery .item .itemImgArea #slideImg {
    height: 320px;
    margin-bottom: 60px;
  }
  #gallery .item .itemImgArea #slideImg .imgBox a {
    height: 320px;
  }
  #gallery .itemLeft {
    width: 100%;
    float: none;
    padding: 0;
  }
  #gallery .itemRight {
    width: 100%;
    float: none;
    padding: 0;
  }
}
#gallery .itemDescription p {
  font-family: 'Noto Serif CJK JP', 'Times New Roman', 'Times';
  font-size: 12px;
  letter-spacing: 0.04em;
  margin-right: -0.04em;
  line-height: 1.8em;
  margin-bottom: 1.5em;
}
#gallery .itemTitle {
  font-family: 'Crimson Text', 'Garamond', 'Times New Roman', 'Times';
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.12em;
  margin-right: -0.12em;
  line-height: 1em;
}
#gallery a {
  opacity: 1;
  text-decoration: none;
  display: block;
  transition: all 0.5s;
  cursor: pointer;
}

#gallery .labels {
    margin-top: 24px;
    height: 4.8em;
}
#gallery .labels div.hide {
    display: none;
}

#gallery .labels a:link, #gallery .labels a:visited, #gallery .labels a:link:active, #gallery .labels a:visited:active {
    color: var(--gray);
    text-decoration: none;
    line-height: 1.2em;
}


#gallery .imgBox a {
  color: var(--white);
}
#gallery .imgBox {
  position: relative;
}
#gallery .caption {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  right: 0;
  bottom: 0;
  padding: 10px 10px 10px 10px;
  height: 14%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  text-align: left;
  font-size: 14px;
  color: var(--white);
  transition: all ease-in-out 0.5s;
}
#gallery .imgBox:hover .caption {
  visibility: visible !important;
  opacity: 1;
  cursor: pointer;
  pointer-events: none;
  z-index: 2;
  transition: all ease-in-out 0.5s;
}
#gallery div.share {
  font-family: 'Noto Serif CJK JP', 'Times New Roman', 'Times';
  font-size: 12px;
  letter-spacing: 0.12em;
  margin-right: -0.12em;
  display: flex;
  justify-content: space-between;
  color: var(--gray);
  padding-bottom: 34px;
  margin-top: 30px;
}
#gallery div.share .text {
  margin-left: 4px;
}
#gallery .share span.tweet,
#gallery .share span.pin,
#gallery .share span.facebook,
#gallery .share span.mail,
#gallery .share span.link {
  display: flex;
}
#gallery .sharelink a {
  color: var(--gray);
}
#gallery .sharelink a:hover {
  opacity: .7;
}
@media only screen and (max-width: 1700px) {
  #gallery span.mail span.text,
  #gallery span.link span.text {
    display: none;
  }
}
@media only screen and (max-width: 1250px) {
  #gallery span.pin span.text {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  #gallery span.pin span.text,
  #gallery span.mail span.text,
  #gallery span.link span.text {
    display: inline-block;
  }
  #gallery span.tweet {
    margin-left: 30px;
  }
  #gallery span.link {
    margin-right: 30px;
  }
}
@media only screen and (max-width: 600px) {
  #gallery span.tweet {
    margin-left: 0px;
  }
  #gallery span.link {
    margin-right: 0px;
  }
}
@media only screen and (max-width: 410px) {
  #gallery span.link span.text {
    display: none;
  }
}
@media only screen and (max-width: 340px) {
  #gallery span.mail span.text {
    display: none;
  }
}
#gallery .imgBox {
  margin: 0 2px;
}
#gallery .itemImgSlide {
  margin: 0 -2px;
}
#gallery .fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* fancybox override */
div.fancybox-thumbs a {
  height: 100px;
}
div.fancybox-infobar {
  display: none;
}
.fancybox-thumbs__list a:before {
  border: 4px solid var(--key-color);
}
.fancybox-progress {
  background-color: var(--key-color);
}
